@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');


div#lista i {
    font-size: 1.5rem;
}

body input {
    width: 40%
}

body header h1.navbar-brand {
    font-family: 'Ephesis', cursive;
    font-size: 3rem;
}
body {
    background-color: rgb(31, 2, 2);
    color: rgb(255, 255, 255);
}

.navbar {
   background-color: rgb(89, 13, 34);
}

.card-header {
    background-color: rgb(201, 24, 74);
    color: white;
}

.card {
    background-color: rgb(7, 1, 2);
}

img {
    width: 300px;
}

footer{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

body button#assistido {
    border-radius: 80%;
}